* {
  margin: 0;
  padding: 0;
}

.section1 {
  background: linear-gradient(180deg, #0b1124, #12244d);

  height: 900px;
  width: 100%;
}

:root {
  --ukuran-font: 16px;
  --warna-tombol: #ec0041;
  --warna-text: white;
}

body {
  font-family: Lato, Trebuchet MS, Arial, sans-serif;
}

div {
  border: 1px solid transparent;
}

li {
  list-style-type: none;
}

.menu:hover {
  cursor: pointer;
  color: red;
}

.menu1:hover {
  cursor: pointer;
  border: 2px solid whitesmoke;
}
.navigation {
  font-size: var(--ukuran-font);
  color: var(--warna-text);
  padding: 20px 50px;
  display: flex;
}

.nav-menu {
  padding-left: 20px;
  padding-top: 16px;
}

.nav-logo > img {
  height: 53px;
  width: 115px;
}
.nav-logo {
  margin-right: 15px;
}
.nav-sign {
  margin-left: auto;
}

.nav-left {
  display: flex;
  padding-right: 10px;
}

.nav-left > li {
  padding-right: 25px;
  font-weight: 300;
}

.nav-right {
  display: flex;
  padding-top: 5px;
}

.nav-right > li {
  padding-top: 13px;
  padding-right: 25px;
}

.get-started {
  border: 2px solid #ec0041;
  border-radius: 20px;
  width: 110px;
  padding: 15px 25px;
}

.bars-mobile {
  display: none;
}

/* Jumbroton Section */

.jumbroton {
  background-color: transparent;
  width: 100%;
  height: 120vh;
}

.heading1 {
  text-align: center;
}

.heading1 > h1 {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  font-size: 55px;
  font-weight: 900;
  margin-top: 80px;
  color: white;
}

.heading1 > p {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  font-size: 25px;
  margin-top: 20px;
  font-weight: 100;
  color: white;
}

.buttonstarted {
  border: 1px solid#ec0041;
  font-size: 20px;
  margin-top: 20px;
  background-color: #ec0041;
  border-radius: 25px;
  padding: 15px 30px;
  color: whitesmoke;
}

.buttonstarted:hover {
  cursor: pointer;
  border: 1px solid#ffffff;
  font-size: 20px;
  margin-top: 20px;
  background-color: red;
  border-radius: 25px;
  padding: 15px 30px;
  color: #ffffff;
  font-size: 20px;
}

.imgOne > img {
  width: 750px;
  padding-top: 100px;
}

.imgTwo > img {
  width: 300px;
  padding-top: 60px;
}

.imgFour > img {
  width: 300px;
  padding-top: 60px;
  padding-left: 40px;
}

.imgMiddle {
  position: absolute;
}

.imgOne {
  transform: translate(50%, 0);
  position: absolute;
  z-index: 1;
  box-shadow: 10px 20px 70px -15px rgba(44, 44, 56, 0.2);
}

.imgTwo {
  position: absolute;
  z-index: 2;
  transform: translate(310%, 0);
}

.imgThree {
  position: absolute;
  z-index: 3;
  transform: translate(310%, 0);
  padding-top: 150px;
}

.imgFour {
  position: absolute;
  z-index: 4;
  transform: translate(50%, 0);
  padding-top: 150px;
}

/* END Jumbroton Section */

/* Start LOGO Section */

.bodyDua {
  margin-top: 350px;
  margin-bottom: 180px;
  margin-left: 100px;
  margin-right: 100px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.imageLogo {
  padding: 25px;
}

.imageLogo3 {
  padding: 20px;
}

#imageLogo4 > img {
  width: 90px;
  padding: 0;
}

#imageLogo9 > img {
  width: 90px;
}

.imageLogo4 {
  padding: 15px;
}

.imageLogo > img {
  width: 150px;
}

/* End LOGO Section */

/* Start Body Tiga */

.bodyTiga {
  margin-left: 100px;
  margin-bottom: 90px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.tigaKanan {
  transform: translate(18%, 0);
}
.tigaKanan > img {
  width: 900px;
}

.tigaKiri {
  width: 500px;
  margin-left: 100px;
}

.tigaKiri > h1 {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  color: grey;
  font-size: 20px;
  font-weight: 400;
}

.tigaKiri > h3 {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  font-size: 55px;
  padding-top: 20px;
  font-weight: 600;
  line-height: 55px;
}

.tigaKiri > p {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  padding-top: 20px;
  font-size: 21px;
  text-align: left;
  line-height: 1.8;
  font-weight: 100;
  color: black;
}

/* Ending Body TIga */

/* Start Body Empat */

.bodyEmpat {
  margin-left: 100px;
  margin-bottom: 90px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.empatKiri {
  transform: translate(-30%);
  padding-right: 50px;
}

.empatKiri > img {
  width: 900px;
  filter: drop-shadow(10px 20px 55px rgba(47, 53, 66, 0.3))
    drop-shadow(5px 10px 15px rgba(47, 53, 66, 0.1));
}

.empatKanan {
  transform: translate(-50%);
  padding-top: 50px;
  width: 500px;
}

.empatKanan > h1 {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  color: grey;
  font-size: 20px;
  font-weight: 400;
}

.empatKanan > h3 {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  font-size: 55px;
  padding-top: 20px;
  font-weight: 600;
  line-height: 55px;
}

.empatKanan > p {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  padding-top: 20px;
  font-size: 21px;
  text-align: left;
  line-height: 1.8;
  font-weight: 100;
  color: black;
}
/* Ending Body Empat */

/* Start Body Lima */

.bodyLima {
  margin-left: 100px;
  margin-bottom: 90px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.limaKanan {
  transform: translate(18%, 0);
}
.limaKanan > img {
  width: 900px;
}

.limaKiri {
  width: 500px;
  margin-left: 100px;
}

.limaKiri > h1 {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  color: grey;
  font-size: 20px;
  font-weight: 400;
}

.limaKiri > h3 {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  font-size: 55px;
  padding-top: 20px;
  font-weight: 600;
  line-height: 55px;
}

.limaKiri > p {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  padding-top: 20px;
  font-size: 21px;
  text-align: left;
  line-height: 1.8;
  font-weight: 100;
  color: black;
}

/* Ending Body Lima */

/* Start Body Enam */

.bodyEnam {
  margin-left: 100px;
  margin-bottom: 120px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.enamKiri {
  transform: translate(-30%);
  padding-right: 50px;
}

.enamKiri > img {
  width: 900px;
  filter: drop-shadow(10px 20px 55px rgba(47, 53, 66, 0.3))
    drop-shadow(5px 10px 15px rgba(47, 53, 66, 0.1));
}

.enamKanan {
  transform: translate(-50%);
  padding-top: 50px;
  width: 500px;
}

.enamKanan > h1 {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  color: grey;
  font-size: 20px;
  font-weight: 400;
}

.enamKanan > h3 {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  font-size: 55px;
  padding-top: 20px;
  font-weight: 600;
  line-height: 55px;
}

.enamKanan > p {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  padding-top: 20px;
  font-size: 21px;
  text-align: left;
  line-height: 1.8;
  font-weight: 100;
  color: black;
}
/* Ending Body Enam */

/* Ending Footer */
.elemen {
  background-image: url(./img/footerimg.svg);
  background-size: cover;
  height: 420px;
  text-align: center;
  justify-content: center;
}

.elemen > h2 {
  padding-top: 100px;
  font-family: Lato, Trebuchet MS, Arial, sans-serif;
  font-size: 40px;
  color: whitesmoke;
  font-weight: 400;
}

.elemen > h4 {
  padding-top: 20px;
  font-family: Lato, Trebuchet MS, Arial, sans-serif;
  font-size: 30px;
  color: whitesmoke;
  font-weight: 300;
  line-height: 1.4;
}
.elemenbawah {
  height: 70px;
  background-color: #21252e;
  display: flex;
  flex: row wrap;
  color: whitesmoke;
  font-weight: 400;
  font-family: Lato, Trebuchet MS, Arial, sans-serif;
  font-size: 15px;
}
.logobawah > img {
  padding-top: 17px;
  padding-left: 0px;
  padding-right: 80px;
  width: 115px;
}
.copyright {
  padding-top: 30px;
}

.policy {
  padding-top: 30px;
  margin-left: auto;
  padding-right: 60px;
}

.elemen > h2,
h4 {
  font-family: Overpass, Trebuchet MS, Arial, sans-serif;
  text-align: center;
}

/* Ending Footer */

/* Responsive Tablet */

@media only screen and (max-width: 1200px) {
  .nav-left {
    display: none;
  }

  .nav-sign {
    display: none;
  }

  .bars-mobile {
    display: block;
    margin-left: auto;
    padding-top: 20px;
    font-size: 25px;
  }
}



/* NOTFOUND */
@keyframes pop-up{
  0% {transform: translateY(80%); opacity:0;}
  60% {transform: translateY(-10px);opacity: 1;}
  80% {transform: translateY(5px)}
  100% {transform: translateY(0);}
}

@keyframes blink{
  20% {transform: scaleY(1);}
  25% {transform: scaleY(0.1);}
  30% {transform: scaleY(1);}
}

@keyframes blink-fancy{
  0%, 25%, 28.33%, 45%, 48.33%, 51.67%, 93.33%, 96.67%{transform: scaleY(1);}
  26.67%, 46.67%, 50%, 95% {transform: scaleY(0.1);}
}

@keyframes looky-loo{
  0%, 42.31%, 50%, 69.23%, 100% {transform: translate3d(0,0,0);}
  7.69%, 23.08% {transform: translate3d(-5px,0,0);}
  26.92%, 38.46% {transform: translate3d(5px, 0,0);}
  53.85%, 65.38%{transform: translate3d(0, -10px,0);}  
}

@keyframes looky-loo-ears{
  0%, 42.31%, 50%, 69.23%, 100% {transform: translate3d(0,0,0);}
  7.69%, 23.08% {transform: translate3d(3px,0,0);}
  26.92%, 38.46% {transform: translate3d(-3px, 0,0);}
  53.85%, 65.38%{transform: translate3d(0, 5px,0);}  
}

@keyframes looky-loo-beard{
  50%, 69.23%, 100% {transform: translate3d(0,0,0);}
  53.85%, 65.38%{transform: translate3d(0, -10px, 0);}   
}

@keyframes cloud-right{
  50% {transform: translateX(10px);}
  100% {transform: translateX(0);}
}

@keyframes cloud-left{
  50% {transform: translateX(-8px);}
  100% {transform: translateX(0);}
}

circle.blinking-eyes{
  animation: blink-fancy 6s linear infinite;
}

#Dave{
  animation: pop-up 1s ease-in-out 1;
}
#Eyes, #unibrow, #moustache, #Blush {animation: looky-loo 13s ease-in-out infinite; animation-delay: 2s;}

#Ears  {animation: looky-loo-ears 13s ease-in-out infinite; animation-delay: 2s}

#beard-lower, #beard-innershadow, #Neck-Innershadow{
  animation: looky-loo-beard 13s ease-in-out infinite;
  animation-delay: 2s;
}

#cloud-right{animation: cloud-right 5s ease-in-out infinite;}
#cloud-left{animation: cloud-left 5s ease-in-out infinite; animation-delay:1s}

#easter-egg{
  opacity:0;
  transition: all 0.1s ease-in-out;
}
svg:hover #easter-egg{
  opacity: 1;
  transition: all 0.1s ease-in-out;
}